/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/*arquivos css */
@import url('./style.css');

/* Variaveis */

:root {
    --font-primaria: 'Poppins', sans-serif;
    --cor-primaria: #f77a7d;
    --cor-secundaria:#8b5450;
    --cor-auxiliar:#fce4e2;
}

.container {
    margin-left: 6%;
    margin-right: 6%;
}

body {
    font-family: var(--font-primaria);
    background-color:var(--cor-auxiliar);
    background-image: linear-gradient(0deg, #ffffff 0%, #55090225 100%);
    height: 100vh;
}



/* Responsividade */

@media screen and (min-width: 768px) {
    .container {
        margin-left: 13%;
        margin-right: 13%;
    }
}


@media screen and (min-width:1024px){
    .container {
        margin-left: 33%;
        margin-right: 33%;
    }
}