/* card perfil e titulo */
.card-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.card-perfil__logo {
    width: 350px;
}

.card-perfil__titulo {
    margin-top: 1rem;
    cursor: pointer;
}

.card-perfil__titulo:hover{
    color: var(--cor-primaria);
    transition: .5s ease-in-out;
}
.card-perfil__titulo a{
    text-decoration: none;
    font-weight: 700;
}

/* Animação circulo */

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(40deg,rgba(0, 4, 255, 0.055) , rgba(5, 84, 202, 0.411));
    margin: auto;
    border-radius: 100%;
    background-size:200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

/* botao */

.card-links {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;
}

.btn {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--cor-primaria);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}
   
.btn:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
   
.btn:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.card-sociais__links {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
}
.card-sociais__links li>a{
  color: var(--cor-primaria);
}
.card-sociais__links li>a:hover{
  color: blue;
  transition: 1s ease-in-out;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.card-sociais__logo {
    width: 130px;
    margin: 0 auto;
}